[Unit]
Description=Provision fabric service.

[Service]
Type=simple
ExecStart=/bin/bash /root/fabric_provision.sh

[Install]
WantedBy=multi-user.target
